body {
    margin: 0;
}

.wrapper {
    padding: 10px;
}

table {
    border-collapse: collapse; 
    width: 100%;
}

tr {
    border-bottom: 1px solid #e2e2e2;
}

th {
    padding: 10px 2px;
    text-align: left;
    word-break: break-all;
}

th:hover {
    cursor: pointer;
    opacity: .7;
}

.centered {
    text-align: center;
}